@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5%;
  margin-top: 3.5em;
}

.logo {
  font-size: 1.5em;
  letter-spacing: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  opacity: 0.6;
  transition: opacity 0.3s, color 0.3s;
}

nav a:hover {
  opacity: 1;
  color: #ffffff;
}

nav a.active {
  opacity: 1;
  color: #ffffff;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  width: 70%;
  max-width: 900px;
  text-align: left;
}

.main-name {
  font-size: 4rem;
  margin-bottom: 0.3em;
}

.main-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1em;
  white-space: nowrap;
}

.main-desc {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: 900px;
  text-align: left;
}

.intro {
  text-align: center;
}

.intro h2 {
  font-size: 2.5em;
  letter-spacing: 2px;
}

.intro h3 {
  color: #00ffff;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  color: #ffffff;
  border: 1.1px solid #ffffff;
  background-color: transparent;
  padding: 0.7em 1.8em;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.7s ease, color 0.3s ease, opacity 0.3s ease;
  margin-bottom: 1em;
  margin-top: 3em;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: opacity 0.3s, color 0.3s;
}

.socials {
  margin-top: 2em;
}

.socials a {
  color: white;
  margin: 0 14px;
  opacity: 0.6;
  font-size: 1.3em;
  transition: opacity 0.3s, color 0.3s;
}

.socials a:hover {
  color: #ffffff;
  opacity: 1;
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 2em 0;
}